@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url('../images/Fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(0, 62, 89, 1);
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 5px 5px 5px;
  border: none;
  border-bottom: 2px solid rgba(0, 62, 89, 1);
  background: transparent;
  font-size: 16px;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 5px;
  top: 10px;
  color: rgba(0, 62, 89, 1);
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease all;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -10px;
  font-size: 12px;
  color: rgba(0, 62, 89, 1);
}

button {
  padding: 8px 20px;
  background-color: rgba(0, 62, 89, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  margin-top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: rgba(0, 62, 89, 1);
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.justify-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: rgba(0, 62, 89, 1);
}

p {
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
}


a {
  color: rgba(0, 62, 89, 1);
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease all;
}

a:hover {
  text-decoration: underline;
}
.mensagem {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s ease;
}

.mensagem.sucesso {
  color: green;
}

.mensagem.erro {
  color: red;
}


